In [ ]:
#Construct a database with 100,000 rows where each record has 100 fields. 
#Assume further that for each record, each of the 100 fields has a one per cent chance of being empty, 
#i.e., its value is missing. If we were to remove all records with two or more empty fields, 
#what percentage of records would we remove?

In [1]:
#import
import pandas as pd #import pandas
import numpy as np  #import numpy
from scipy.stats import bernoulli #import bernoulli 
from scipy.stats import linregress #import linregress
import math # import math

In [8]:
#Step i) Generate a matrix of 100,000 rows * 100 columns
nr_rows = 100000 #Construct a database with 100,000 rows where each record has 100 fields
data_to_use = np.ones(nr_rows*100) #generate all-ones
df_activity = pd.DataFrame(data_to_use.reshape(nr_rows, 100)) #reshape the data so that we have 100,000 rows * 100

In [9]:
#Step ii) Generate indices of missing values
missing_or_not = bernoulli.rvs((1/100), size=nr_rows*100) #keeps whether or not each element of df_activity is missing
missing_or_not = missing_or_not.reshape(nr_rows, 100) #reshape so that index of missing values correspond to df_activity

In [10]:
missing_rows, missing_cols = np.where(missing_or_not == 1) #indices of missing values

In [11]:
df_activity.values[missing_rows, missing_cols] = np.nan #make the values missing for those indices

In [33]:
missing_rows = df_activity.isnull().sum(axis=1) #sum number of missing values row by row

In [12]:
df_activity.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [14]:
df_activity.tail()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
99995,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
99996,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
99997,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
99998,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
99999,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [17]:
df_activity.shape

(100000, 100)

In [18]:
print("In total, there are" ,np.sum(df_activity.isnull().sum()),"missing values") #It should match `np.size(missing_rows)`

In total, there are 100119 missing values

In [20]:
#Check how many rows have at least one NaN
df_missing = df_activity.isnull().any(axis=1) #each row has True if at least one element is nan, False otherwise

In [22]:
print("There are", np.sum(df_missing), "rows with at least one missing data")

There are 63371 rows with at least one missing data

In [23]:
print("So if we drop rows with missing values, we lose", np.sum(df_missing)/nr_rows, "fraction of the whole data")

So if we drop rows with missing values, we lose 0.63371 fraction of the whole data

In [24]:
print("In other words, the following has", nr_rows - np.sum(df_missing) ,"rows")

In other words, the following has 36629 rows

In [25]:
df_activity.dropna()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
10,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
16,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99989,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
99990,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
99991,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
99994,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
99998,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [30]:
prob_E = 0.99 ** 100
np.round(prob_E,3) #round to three decimals

0.366

In [31]:
print("We expect to have", round(nr_rows * prob_E), "rows that are not dropped, and our experiment ended with", nr_rows - np.sum(df_missing), "rows")

We expect to have 36603 rows that are not dropped, and our experiment ended with 36629 rows

In [36]:
np.sum(missing_rows >= 1)/nr_rows #If we were to remove all records with one or more empty fields

0.63371

In [37]:
np.sum(missing_rows >= 2)/nr_rows #If we were to remove all records with two or more empty fields

0.2654